NET.W.2019.Shchahlou.17/defaultSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="urlAddresses">
        <xs:complexType>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="urlAddress">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="host" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element  maxOccurs="unbounded" minOccurs="0" name="uri">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element  maxOccurs="unbounded" name="segment" type="xs:string" />
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="parameters"  minOccurs="0">
                        <xs:complexType>
                        <xs:sequence>
                            <xs:element  maxOccurs="unbounded" name="parametr">
                              <xs:complexType>
                                <xs:sequence>
                                </xs:sequence>
                                <xs:attribute name="value" type="xs:string" use="required" />
                                <xs:attribute name="key" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>